<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common"
    xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <vtex:metaTags />
    <!-- CSS -->
    <link rel="stylesheet" href="/arquivos/tiendatest2.css" />
    <script src="https://kit.fontawesome.com/a53353dc46.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- Header -->
    <vtex:template id="00-header" />
    <!-- Full Banner -->
    <div class="banner">
        <vtex:contentPlaceHolder id="Full Banner" />
    </div>
    <!-- Main -->
    <main role="main" id="main" class="warp">
        <div class="halfBanner">
            <vtex:contentPlaceHolder id="Half Banner #1" />
        </div>
        <div class="carousel">
            <vtex:contentPlaceHolder id="Vitrina #1" />
        </div>
        <div class="halfBanner">
            <vtex:contentPlaceHolder id="Half Banner #2" />
        </div>
        <div class="carousel">
            <vtex:contentPlaceHolder id="Vitrina #2" />
        </div>
        <div class="halfBanner">
            <vtex:contentPlaceHolder id="Half Banner #3" />
        </div>
        <div class="carousel">
            <vtex:contentPlaceHolder id="Vitrina #3" />
        </div>
        <div class="halfBanner">
            <vtex:contentPlaceHolder id="Half Banner #4" />
        </div>
    </main>
    <!-- Footer -->
    <vtex:template id="00-footer" />
    <!-- JS -->
    <script type="text/javascript" src="/arquivos/tiendatest2.js"></script>
</body>

</html>