// Mix
.flexbox {
  // Flexbox
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.preHeader {
  background-color: #efefef;
  .containerPreHeader {
    height: 30px;
    @extend .flexbox;

    .welcome {
      font-size: 12px;
      em {
        font-style: normal;
      }
      a {
        color: $gris-font;
        cursor: pointer;
      }
    }

    .navPreHeader {
      @extend .flexbox;

      a {
        text-decoration: none;
        font-size: 12px;
        color: $gris-font;

        &:not(:last-of-type) {
          margin-right: 10px;
        }
      }
    }
  }
}

header.header,
nav.menu {
  background-color: white;
}

header.header {
  .containerHeader {
    @extend .flexbox;
    height: 80px;

    .brand {
      a {
        display: flex;
        svg {
          width: auto;
          height: 30px;
        }
      }
    }
    .fullTextSearchBox {
      flex: 1;
      padding: 0 20px;
      .busca {
        width: 100%;
        border: 1px solid $gris-linea;
        position: relative;

        .ui-autocomplete {
          width: 100% !important;
          position: absolute !important;
          top: 40px !important;
          left: 0 !important;
          background-color: white !important;
          display: block !important;
          border: 1px solid $gris-linea;
        }

        legend,
        label,
        select {
          display: none;
        }
        .fulltext-search-box {
          width: calc(100% - 40px);
          height: 40px;
          border: none;
          background-color: white;
          font-family: $font-family;
          font-size: 16px;
          vertical-align: top;
          padding: 0 20px;
        }
        .btn-buscar {
          width: 40px;
          height: 40px;
          background-color: white;
          border: none;
          font-family: $fonticon;
          font-size: 16px;
          font-weight: bold;
        }
      }
    }
    nav.header {
      a {
        color: $gris-font;
        text-decoration: none;
      }
    }
    .AmountItemsInCart {
      margin-left: 20px;
      .portal-totalizers-ref {
        .amount-items-in-cart {
          display: flex;
          align-items: center;

          &:before {
            content: "\f291";
            font-family: $fonticon;
            font-weight: bold;
            font-size: 30px;
            margin-right: 10px;
          }

          .cartInfoWrapper {
            .title {
              #MostraTextoXml1 {
                font-size: 0;

                &:after {
                  content: "Mi Carrito";
                  font-size: 16px;
                  font-weight: 600;
                }
              }
            }
            .cart-info {
              .amount-products,
              .amount-kits,
              .total-cart {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

nav.menu {
  .containerMenu {
    height: 40px;
    display: flex;
    align-items: center;
    .title {
      font-size: 16px;
    }
    .departmentLinks {
      ul {
        @extend .flexbox;
        li {
          padding: 0 20px;
          font-size: 16px;

          a {
            color: $gris-font;
            text-decoration: none;
          }
        }
      }
    }
  }
}
