<div class="preHeader">
    <div class="container containerPreHeader">
        <div class="welcomeMessage">
            <vtex.cmc:welcomeMessage />
        </div>
        <nav class="navPreHeader">
            <a href="/institucional/nosotros">Nosotros</a>
            <a href="/ayuda">Ayuda?</a>
            <a href="tel:55999999999">Televendas: (9) 3456-7890</a>
        </nav>
    </div>
</div>
<header class="header">
    <div class="container containerHeader">
        <h1 class="brand">
            <a href="/">
                <vtex.cmc:marca />
            </a>
        </h1>
        <div class="fullTextSearchBox">
            <vtex.cmc:fullTextSearchBox />
        </div>
        <nav class="header">
            <a href="/mi-cuenta">Mi cuenta</a>
        </nav>
        <div class="AmountItemsInCart">
            <vtex.cmc:AmountItemsInCart />
        </div>
    </div>
</header>
<nav class="menu">
    <div class="container containerMenu">
        <h2 class="title">
            <i class="fas fa-bars"></i>
            <span>Comprar por Categorias</span>
            <i class="fas fa-caret-down"></i>
        </h2>
        <div class="departmentLinks">
            <vtex.cmc:departmentLinks />
        </div>
    </div>
</nav>